# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../:\УЧОБА\A1\1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
